<div>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Faculty</th>
            <th>Department</th>
            <th>Speciality</th>
            <th>Language</th>
            <th>Defense core</th>
            <th>Subject core</th>
            <th>Final score</th>
            <th>UPDATE</th>
            <th>DELETE</th>
        </tr>
        </thead>
        <tr *ngFor="let e of data">
            <td>{{e.id}}</td>
            <td>{{e.title}}</td>
            <td>{{e.faculty}}</td>
            <td>{{e.department}}</td>
            <td>{{e.speciality}}</td>
            <td>{{e.language}}</td>
            <td>{{e.defenseScore}}</td>
            <td>{{e.subjectScore}}</td>
            <td>{{e.finalScore}}</td>

            <td>itt lesz az update gomb</td>
            <td>itt lesz a delete gomb</td>
        </tr>
    </table>
</div>
